<html>
  <head>
    <style>
      * {
        font: 11px monospace;
      }
      table {
        border-collapse: collapse;
      }
      th {
        text-align: left;
      }
      th, td {
        border: 1px solid lightgray;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    <h1>Scoreboard</h1>
    <table>
      <tr>
        <th></th>
	{% for bowl in bowls %}
        <th title="{{ bowl[3] }}">{{ bowl[0] }}</th>
	{% endfor %}
      </tr>
      {% for p in players %}
      <tr>
	<th>{{ p[0].user.nickname() }}</th>
	{% for bowl in bowls %}
        <td>{{ p[1].get(bowl[0], '') }}</td>
	{% endfor %}
      </tr>
      {% endfor %}	
    </table>
    <a href="?next={{ next }}">next</a>
  </body>
</html>
