<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/scoreboard.css" />
  </head>
  <body>
    <h1>Scoreboard</h1>
    <table>
      <tr>
        <th></th>
	{% for bowl in bowls %}
        <th title="{{ bowl[4] }}">{{ bowl[1] }}</th>
	{% endfor %}
      </tr>
      {% for p in players %}
      <tr>
	<th>{{ p[0].user.nickname() }}</th>
	{% for bowl in bowls %}
        <td>{{ p[1].get(bowl[1], '') }}</td>
	{% endfor %}
      </tr>
      {% endfor %}	
    </table>
    <a href="?next={{ next }}">next</a>
  </body>
</html>
