* {
    font: 11px monospace;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
}
th, td {
    border: 1px solid lightgray;
    padding: 2px;
}
.right {
    background-color: #ddffcc;
}
.wrong {
    background-color: #ffccdd;
}